.nav-item a.active {
	text-decoration: underline;
	cursor: default;
}
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item a.active {
	background-color: transparent !important;
}

.footer-custom, .header-custom{
	background-color: red;
}

.navbar-png{
	max-height: 50px;
}

body{
	background-image: url(../media/image/preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

h1 {
	font-weight: 700; /* Félkövér */
}
p {
	font-weight: 400; /* Normál */
}