.nav-item a.active {
	text-decoration: underline;
	cursor: default;
}
.dropdown-item:active,
.dropdown-item.active,
.dropdown-item a.active {
	background-color: transparent !important;
}

.footer-custom, .header-custom{
	background-color: red;
}

.navbar-png{
	max-height: 50px;
}

body{
	background-image: url(../media/image/preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

h1 {
	font-weight: 700;
}
p {
	font-weight: 400; 
}

/* Vélemény értékelés csillaggal */
.star-rating {
	color: #ccc;  /* Szürke */
	font-size: 24px;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
  }
  
  /* Hover esetén besárgul */
  .star-rating.hovered {
	color: #ffc107; /* Sárga */
  }
  
  /* Kiválasztott csillag */
  .star-rating.checked {
	color: #ffc107; /* Sárga */
  }
  