<!-- Page Content-->
<div class="container px-4 px-lg-5">


  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      
      <!--Home page carousel-->
      <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-repeat="image in carouselImages"
            ng-class="{active: $index === 0}">
            <img
              ng-src="{{image}}"
              class="img-fluid d-block w-100 border-primary rounded-3"
              alt="Slide {{$index + 1}}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <h1 class="fw-bold display-3">Super Car Wash</h1>
      <p>
        Üdvözlünk a Super Car Wash világában, ahol az autód mindig kiemelt
        figyelmet és professzionális törődést kap! Nálunk nemcsak egy egyszerű
        autómosás vár, hanem prémium szolgáltatások, amelyek garantálják, hogy
        járműved ragyogjon, akár egy új autó. Foglalj időpontot gyorsan és
        könnyedén, válassz a különböző mosási csomagjaink közül, és tapasztald
        meg, hogy mit jelent az igazi autós luxus!
      </p>
      <a class="btn btn-warning" href="#!">Foglaljon időpontot most!</a>
    </div>
  </div>


  <!-- Content card-->
  <div class="card text-white bg-dark my-5 py-4 text-center">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 text-center mb-3" ng-repeat="item in infoList">
          <i class="{{item.icon}} fa-3x text-light mb-3"></i>
          <h5 class="text-white">{{item.title}}</h5>
          <p class="text-white text-justify m-0">{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
  
  

  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card One</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
            quas ex numquam, maxime minus quam molestias corporis quod, ea
            minima accusamus.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Two</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
            tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt
            quam eaque, vel, non in id dolore voluptates quos eligendi labore.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Card Three</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
            quas ex numquam, maxime minus quam molestias corporis quod, ea
            minima accusamus.
          </p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary btn-sm" href="#!">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
