<!-- Page Content-->
<div class="container px-4 px-lg-5">


  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7">
      
      <!--Home page carousel-->
      <div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            class="carousel-item"
            ng-repeat="image in carouselImages"
            ng-class="{active: $index === 0}">
            <img
              ng-src="{{image}}"
              class="img-fluid d-block w-100 border-primary rounded-3"
              alt="Slide {{$index + 1}}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <h1 class="fw-bold display-3">Super Car Wash</h1>
      <p>
        Üdvözlünk a Super Car Wash világában, ahol az autód mindig kiemelt
        figyelmet és professzionális törődést kap! Nálunk nemcsak egy egyszerű
        autómosás vár, hanem prémium szolgáltatások, amelyek garantálják, hogy
        járműved ragyogjon, akár egy új autó. Foglalj időpontot gyorsan és
        könnyedén, válassz a különböző mosási csomagjaink közül, és tapasztald
        meg, hogy mit jelent az igazi autós luxus!
      </p>
      <a class="btn btn-warning" href="#!">Foglaljon időpontot most!</a>
    </div>
  </div>

  <!--Szolgáltatások jellemzői-->

  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5" ng-repeat="card in cards">
      <div class="card h-100 text-center">
        <div class="card-body">
          <i class="{{card.icon}} fa-3x text-light mb-3"></i>
          <h2 class="card-title">{{card.title}}</h2>
          <p class="card-text">{{card.text}}</p>
        </div>
      </div>
    </div>
  </div>













</div>
