<div class="container">
	<div class="row my-5">
		<h4 class="text-center">PAGE2</h4>
	</div>
	<ul class="row list-group justify-content-center">
		<li class="list-group-item col-8 d-inline mx-auto"
				ng-repeat="x in [].constructor(12) track by $index">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque vel quibusdam iure omnis assumenda nemo earum odit eum consequuntur aliquam deserunt, amet iusto adipisci laboriosam dolorum ut id quod porro?
		</li>
	</ul>
</div>



<div class="container">
	<div class="row my-5">
  
	  <!--Home page cím-->
	  <h1 class="text-center fw-bold display-3">Super Car wash</h1>
  
	  <!--Home page bemutatkozó szöveg-->
	  <p class="text-center fs-3 San Francisco', Helvetica, Arial, san-serif">
		Üdvözlünk a Super Car Wash világában, ahol az autód mindig kiemelt
		figyelmet és professzionális törődést kap! Nálunk nemcsak egy egyszerű
		autómosás vár, hanem prémium szolgáltatások, amelyek garantálják, hogy
		járműved ragyogjon, akár egy új autó. Foglalj időpontot gyorsan és
		könnyedén, válassz a különböző mosási csomagjaink közül, és tapasztald
		meg, hogy mit jelent az igazi autós luxus!
	  </p>
	</div>
  
	<!--Home page carousel-->
	<div class="carousel slide" id="carouselExample" data-bs-ride="carousel">
	  <div class="carousel-inner">
		<div
		  class="carousel-item"
		  ng-repeat="image in carouselImages"
		  ng-class="{active: $index === 0}">
		  <img
			ng-src="{{image}}"
			class="img-fluid d-block w-100"
			alt="Slide {{$index + 1}}"
		  />
		</div>
	  </div>
	</div>