<div class="container">
	<div class="row justify-content-center">
		<div class="col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">

			<!-- Title -->
			<div class="row mb-4">
				<h3 class="text-center">
					<i class="fa-regular fa-address-card"></i>
					<span class="text-capitalize text-small-caps ms-2">
						profil
					</span>
				</h3>
			</div>

			<!-- Form -->
			<form name="profileForm" novalidate>

				<!-- Identifier/Type -->
				<div class="row mb-3">
					<label for="profile-id" 
								class="col-form-label col-md-4 text-md-end">
						<i class="fa-solid fa-fingerprint me-1"></i>
						<span class="text-capitalize">identifier:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<div class="row">
							<div class="col-md-5">
								<input id="profile-id"
											class="form-control form-control-disabled"
											name="id" 
											type="text"
											maxlength="300"
											ng-model="$root.user.id"
											disabled>
							</div>
							<div class="col-md-7">
								<div class="row mt-3 mt-md-0">
									<label for="profile-type" 
												class="col-form-label col-md-6 text-md-end">
										<i class="fa-solid fa-location-crosshairs me-1"></i>
										<span class="text-capitalize">type:</span>
									</label>
									<div class="col-md-6">
										<input id="profile-type"
												class="form-control form-control-disabled"
												name="type" 
												type="text"
												maxlength="300"
												ng-model="$root.user.type"
												disabled>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Email -->
				<div class="row mb-3">
					<label for="profile-email" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-envelope me-1"></i>
						<span class="text-capitalize">email:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-email"
									class="form-control form-control-disabled"
									name="email" 
									type="text"
									ng-model="$root.user.email"
									disabled>
					</div>
				</div>

				<!-- First name -->
				<div class="row mb-3">
					<label for="profile-first_name" 
								 class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-user fa-2xl me-1"></i>
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span class="text-capitalize">first</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-first_name"
									class="form-control"
									name="first_name" 
									type="text"
									placeholder="first name"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="100"
									ng-model="$root.user.first_name"
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': profileForm.first_name.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Middle name -->
				<div class="row mb-3">
					<label for="profile-middle_name" 
								 class="col-form-label col-12 col-md-4 text-md-end">
						<span class="text-capitalize">middle</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-middle_name"
									class="form-control"
									name="middle_name" 
									type="text"
									placeholder="middle name"
									spellcheck="false" 
									autocomplete="off" 
									maxlength="100"
									ng-model="$root.user.middle_name"
									ng-clear-icon>
					</div>
				</div>

				<!-- Last name -->
				<div class="row mb-3">
					<label for="profile-last_name" 
								 class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span class="text-capitalize">last</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-last_name"
									class="form-control"
									name="last_name" 
									type="text"
									placeholder="last name"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="100"
									ng-model="$root.user.last_name"
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': profileForm.last_name.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Born -->
				<div class="row mb-3">
					<label for="profile-born" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-calendar-days me-1"></i>
						<span class="text-capitalize">born:</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-born"
									class="form-control"
									name="born" 
									type="date"
									placeholder="born"
									spellcheck="false" 
									autocomplete="off"
									max="{{helper.maxBorn}}"
									min="{{helper.minBorn}}" 
									required
									maxlength="300"
									ng-model="model.born"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': profileForm.born.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>Only people over 16 years old!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Gender -->
				<fieldset class="row input-row mb-3">
					<legend class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-venus-mars me-1"></i>
						<span class="text-capitalize">
							gender:
						</span>
					</legend>
					<div class="col-11 col-md-7 position-relative d-flex align-items-center">
						<div class="form-check form-check-inline me-4"
								ng-repeat="x in ['female','male'] track by $index">
							<input id="profile-{{x}}"
										name="gender" 
										type="radio"
										ng-value="x === 'female' ? 'F' : 'M'"
										class="form-check-input"
										ng-model="$root.user.gender" 
										required>
								<label for="profile-{{x}}" 
											class="form-check-label opacity-100">
									{{x}}
								</label>
						</div>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': profileForm.gender.$invalid}">
							&check;
						</span>
					</div>
				</fieldset>

				<!-- Image -->
				<div class="row input-row mb-5">
					<div class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-image-portrait me-1"></i>
						<span class="text-capitalize">
							image:
						</span>
					</div>
					<div class="col-11 col-md-7 position-relative" 
							style="height:100px;">
						<input id="profile-image"
									name="image" 
									type="file"
									accept="image/*"
									class="form-control form-control d-none"
									ng-model="helper.image"
									file-input
									ng-clear-icon='{"left":"160px"}'>
						<label for="profile-image">
							<div class="bg-img bg-img-cover overflow-hidden rounded-circle border 
													d-flex align-items-center justify-content-center cursor-pointer"
									style="width:130px;height:130px;"
									ng-style="{'background-image':model.mimeType?'url(data:'+model.mimeType+';base64,'+model.img+')':($root.user.gender?'url(./media/image/'+($root.user.gender==='F'?'fe':'')+'male-blank.webp)':'')}">
								<span class="text-center text-muted"
											ng-show="!model.img && !$root.user.gender">
									<i class="fa-solid fa-upload"></i><br>
									<span class="fs-sm">Max: 64KB</span>
								</span>							
							</div>
						</label>
					</div>
				</div>

				<!-- Country -->
				<div class="row input-row mb-3">
					<label for="profile-country" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-flag me-1"></i>
						<span class="text-capitalize">
							country:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-country"
									name="country" 
									type="text"
									placeholder="country"
									class="form-control"
									spellcheck="false" 
									autocomplete="off"
									maxlength="100"
									ng-model="model.country"
									ng-clear-icon>
					</div>
				</div>

				<!-- Phone (Country code / Phone) -->
				<div class="row input-row mb-3">
					<label for="profile-phone" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-mobile-screen me-1"></i>
						<span class="text-capitalize">
							phone:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<div class="input-group">
							<span class="me-2 mt-1">+</span>
							<input id="profile-countryCode"
										name="countryCode" 
										type="text"
										placeholder="code"
										class="form-control"
										spellcheck="false" 
										autocomplete="off"
										maxlength="10"
										ng-model="model.countryCode"
										ng-clear-icon='{"left":"100px"}'
										style="max-width:100px;">
							<input id="profile-phone"
										name="phone" 
										type="tel"
										placeholder="phone"
										class="form-control"
										spellcheck="false" 
										autocomplete="off"
										maxlength="10"
										ng-model="model.phone"
										ng-pattern="/^$|^(?!(0))[0-9]{7,10}$/"
										ng-allow-numbers
										ng-clear-icon='{"right":"8px"}'>
						</div>
					</div>
				</div>
					
				<!-- City -->
				<div class="row input-row mb-3">
					<label for="profile-city" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-city me-1"></i>
						<span class="text-capitalize">
							city:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-city"
									name="city" 
									type="text"
									placeholder="city"
									class="form-control"
									spellcheck="false" 
									autocomplete="off"
									maxlength="100"
									ng-model="model.city"
									ng-clear-icon>
					</div>
				</div>

				<!-- Post code -->
				<div class="row input-row mb-3">
					<label for="profile-postcode" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-list-ol me-1"></i>
						<span class="text-capitalize">
							postcode:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<input id="profile-postcode"
									name="postcode" 
									type="text"
									placeholder="postcode"
									class="form-control"
									spellcheck="false" 
									autocomplete="off"
									maxlength="10"
									ng-model="model.postcode"
									style="max-width:120px;"
									ng-clear-icon='{"left":"110px"}'>
					</div>
				</div>

				<!-- Address -->
				<div class="row input-row mb-5">
					<label for="profile-address" 
								class="col-form-label col-12 col-md-4 text-md-end">
						<i class="fa-solid fa-location-dot me-1"></i>
						<span class="text-capitalize">
							address:
						</span>
					</label>
					<div class="col-11 col-md-7 position-relative">
						<textarea id="profile-address"
											name="address"
											placeholder="address"
											class="form-control"
											spellcheck="false" 
											autocomplete="off"
											rows="1"
											ng-model="model.address"
											ng-clear-icon>
						</textarea>
					</div>
				</div>

				<!-- Save button -->
				<div class="row justify-content-end">
					<button type="button"
									data-bs-toggle="modal" 
									data-bs-target="#modalRequest"
									class="btn btn-primary w-auto px-5 me-3 text-capitalize"
									ng-disabled="profileForm.$invalid || !isModified"
									ng-click="methods.httpRequest()">
						Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>