<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="card shadow-lg text-white w-75 my-5" 
       style="border-radius: 15px; overflow: hidden; min-width: 350px;">
    <div class="row g-0">

<!-----------------Regisztrációs Form--------------------------->
      <div class="col-12 p-5 d-flex flex-column justify-content-center"
            ng-style="{'background-image': 'url(' + registration_bg + ')', 
                   'background-size': 'cover', 
                   'background-position': 'center', 
                   'background-repeat': 'no-repeat'}">
        <h3 class="text-center mb-4 text-white">
          <i class="fa-solid fa-id-card"></i>
          <span class="text-capitalize ms-2">
            {{lang.data.register}}
          </span>
        </h3>
        <form name="registerForm" novalidate>
          <div class="row">

<!------------------------Bal oldal--------------------->
            <div class="col-md-6">

<!------------------------Vezetéknév-------------------->
              <div class="mb-3">
                <label for="register-last_name" 
                       class="form-label text-warning">
                  <i class="fa-solid fa-user me-1"></i> 
                  {{lang.data.last_name}}:
                </label>
                <input 
                  id="register-last_name"
                  class="form-control bg-dark text-white
                         border-secondary rounded"
                  name="last_name" 
                  type="text"
                  placeholder="{{lang.data.last_name}}"
                  required
                  maxlength="40"
                  autocomplete="off"
                  ng-model="model.register.last_name">
              </div>

<!-------------------------Keresztnév---------------------->
              <div class="mb-3">
                <label for="register-first_name" 
                       class="form-label text-warning">
                  <i class="fa-solid fa-user me-1"></i> 
                  {{lang.data.first_name}}:
                </label>
                <input 
                  id="register-first_name"
                  class="form-control bg-dark text-white 
                         border-secondary rounded"
                  name="first_name" 
                  type="text"
                  placeholder="{{lang.data.first_name}}"
                  required
                  autocomplete="off"
                  maxlength="40"
                  ng-model="model.register.first_name">
              </div>

<!--------------------------Születési idő---------------------->
              <div class="mb-3">
                <label for="register-born" 
                       class="form-label text-warning">
                  <i class="fa-solid fa-calendar-days me-1"></i> 
                  {{lang.data.born}}:
                </label>
                <input 
                  id="register-born"
                  class="form-control bg-dark text-white 
                         border-secondary rounded"
                  name="born" 
                  type="date"
                  max="{{helper.maxBorn}}"
                  min="{{helper.minBorn}}"
                  maxlength="300"
                  required
                  placeholder="{{lang.data.born}}"
                  ng-disable-space
                  autocomplete="off"
                  ng-model="model.register.born">
              </div>

<!--------------------------Telefonszám------------------------->
              <div class="mb-3">
                <label for="register-phone" 
                       class="form-label text-warning">
                  <i class="fa-solid fa-mobile-screen me-1"></i> 
                  {{lang.data.phone}}:
                </label>
                <div class="input-group">
                  <input
                    id="register-countryCode"
                    name="countryCode"
                    type="text"
                    placeholder="+36"
                    class="form-control bg-dark text-white
                           border-secondary rounded"
                    autocomplete="off"
                    maxlength="10"
                    ng-model="model.register.countryCode"
                    style="max-width: 100px;">
                  <input
                    id="register-phone"
                    name="phone"
                    autocomplete="off"
                    type="tel"
                    placeholder="{{lang.data.phone}}"
                    class="form-control bg-dark text-white 
                           border-secondary rounded"
                    autocomplete="off"
                    maxlength="10"
                    ng-model="model.register.phone"
                    ng-pattern="/^[1-9][0-9]{6,9}$/">
                </div>
              </div>

<!-------------------------Neme-------------------------->
              <div class="mb-3">
                <label class="form-label text-warning">
                  <i class="fa-solid fa-venus-mars me-1"></i> 
                  {{lang.data.gender}}:
                </label>
                <div class="form-check form-check-inline">
                  <input 
                    id="register-male"
                    name="gender" 
                    type="radio"
                    class="form-check-input"
                    value="M"
                    ng-model="model.register.gender">
                  <label for="register-male" 
                         class="form-check-label text-white">
                   {{lang.data.male}}
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input 
                    id="register-female"
                    name="gender" 
                    type="radio"
                    class="form-check-input"
                    value="F"
                    ng-model="model.register.gender">
                  <label for="register-female" 
                         class="form-check-label text-white">
                    {{lang.data.female}}
                  </label>
                </div>
              </div>
            </div>

<!---------------------------Jobb oldal------------------------------->
            <div class="col-md-6">

<!-----------------------------Email---------------------------------->
              <div class="mb-3 position-relative">
                <label for="register-email" class="form-label text-warning">
                    <i class="fa-solid fa-envelope me-1"></i> 
                    {{lang.data.email}}:
                </label>

                <div class="position-relative">
                    <input 
                        id="register-email"
                        class="form-control bg-dark text-white 
                              border-secondary rounded pe-5"
                        name="email" 
                        type="email"
                        placeholder="{{lang.data.email}}"
                        required
                        maxlength="40"
                        ng-model="model.register.email"
                        ng-class="{
                            'is-invalid': model.register.email && 
                            !isValidEmail(model.register.email)}">

                    <!-- Email ellenőrző ikon (pipa vagy X) -->
                    <i class="fa-solid position-absolute top-50 end-0 translate-middle-y me-2"
                       ng-class="{'fa-check-circle text-success': model.register.email && 
                                  isValidEmail(model.register.email),
                                'fa-times-circle text-danger': model.register.email &&
                                 !isValidEmail(model.register.email)}">
                    </i>
                </div>
              </div>

<!-----------------------------Email megerősítés------------------------->
              <div class="mb-3">
                <label for="register-emailConfirm" 
                       class="form-label text-warning">
                  E-mail {{lang.data.confirmation}}:
                </label>
                <input 
                  id="register-emailConfirm"
                  class="form-control bg-dark text-white 
                         border-secondary rounded"
                  name="emailConfirm" 
                  type="email"
                  placeholder="E-mail {{lang.data.confirmation}}"
                  autocomplete="off"
                  required
                  ng-model="model.register.emailConfirm"
                  ng-class="{'is-invalid': model.register.emailConfirm && 
                  model.register.emailConfirm !== model.register.email}">

                <!-- Hibaüzenet, ha a két email nem egyezik -->
                <div class="invalid-feedback text-warning fw-bold text-capitalize">
                    <p>{{ lang.data.email_notmacht }}</p>
                </div>
              </div>

<!-----------------------------Jelszó---------------------------------->
              <div class="mb-3 position-relative">
                <label for="register-password" 
                       class="form-label text-warning">
                    <i class="fa-solid fa-key me-1"></i> 
                    {{lang.data.password}}:
                </label>

                <div class="position-relative">
                    <input 
                        id="register-password"
                        class="form-control bg-dark text-white 
                              border-secondary rounded pe-5"
                        name="password" 
                        type="{{model.register.showPassword ? 'text' : 'password'}}"
                        placeholder="{{lang.data.password}}"
                        required
                        minlength="5"
                        maxlength="20"
                        ng-model="model.register.password"
                        ng-class="{
                            'is-invalid': model.register.password &&
                             !isPasswordValid(model.register.password)}">
                    
                    <!-- Pipa vagy X az input mező végében -->
                    <i class="fa-solid position-absolute top-50 end-0 translate-middle-y me-5"
                      ng-class="{
                          'fa-check-circle text-success': model.register.password && 
                          isPasswordValid(model.register.password),
                          'fa-times-circle text-danger': model.register.password && 
                          !isPasswordValid(model.register.password)
                      }">
                    </i>

                    <!-- Jelszó Tooltip ikon -->
                    <i class="fa-solid fa-circle-info position-absolute top-50 
                              end-0 translate-middle-y text-capitalize me-2"
                      data-bs-toggle="tooltip" 
                      data-bs-placement="left"
                      ng-attr-title="{{ lang.data.password_conditional }}"
                      style="cursor: pointer; color: white;">
                    </i>
                </div>
              </div>


<!-------------------------Jelszó megerősítés--------------------------->
              <div class="mb-3 position-relative">
                <label for="register-passwordConfirm" 
                       class="form-label text-warning">
                    {{lang.data.password}} {{lang.data.confirmation}}:
                </label>

                <div class="position-relative">
                    <input 
                        id="register-passwordConfirm"
                        class="form-control bg-dark text-white border-secondary rounded pe-5"
                        name="passwordConfirm" 
                        type="{{model.register.showPassword ? 'text' : 'password'}}"
                        placeholder="{{lang.data.password}} {{lang.data.confirmation}}"
                        required
                        minlength="5"
                        maxlength="20"
                        autocomplete="off"
                        ng-model="model.register.passwordConfirm"
                        ng-class="{'is-invalid': model.register.passwordConfirm && 
                                    model.register.passwordConfirm !== model.register.password}">

                    <!-- Hibaüzenet, ha a két jelszó nem egyezik -->
                    <div class="invalid-feedback text-warning fw-bold">
                        <p>{{ lang.data.password_notmacht }}</p>
                    </div>
                </div>
              </div>

<!------------------------Jelszó mutat elrejt check-------------------->
              <div class="form-check mb-3">
                <input 
                  id="register-showPassword"
                  class="form-check-input"
                  type="checkbox"
                  ng-click="toggleShowPassword()"
                  ng-checked="model.register.showPassword">
                <label for="register-showPassword" 
                       class="form-check-label text-white">
                  {{lang.data.passw_show}}
                </label>
              </div>
            </div>
          </div>
          
<!-----------------------Regisztráció Gomb------------------------->
          <div class="text-center d-flex justify-content-center gap-3">
            <!-- Vissza a bejelentkezéshez gomb -->
            <button 
                type="button"
                class="btn btn-primary px-4"
                ng-click="methods.goToLogin()">
                <i class="fa-solid fa-arrow-left me-1"></i> 
                {{lang.data.back_to_login}}
            </button>

            <!-- Regisztráció gomb -->
            <button 
                type="button"
                class="btn btn-warning px-5"
                ng-disabled="registerForm.$invalid"
                ng-click="methods.registerUser()">
                {{lang.data.register}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>