<div class="container">
	<div class="row justify-content-center">
		<div class="col-11 col-md-10 col-lg-9 col-xl-8 col-xxl-7">

			<!-- Title -->
			<div class="row mb-4">
				<h3 class="text-center">
					<i class="fa-solid fa-id-card"></i>
					<span class="text-capitalize text-small-caps ms-2">
						regisztráció
					</span>
				</h3>
			</div>

			<!-- Form -->
			<form name="registerForm" novalidate>

				<!-- First name -->
				<div class="row mb-3">
					<label for="register-first_name" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-user fa-2xl me-1"></i>
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span class="text-capitalize">first</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-first_name"
									class="form-control"
									name="first_name" 
									type="text"
									placeholder="first name"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="100"
									ng-init="model.register.first_name=null"
									ng-model="model.register.first_name"
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.first_name.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Middle name -->
				<div class="row mb-3">
					<label for="register-middle_name" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<span class="text-capitalize">middle</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-middle_name"
									class="form-control"
									name="middle_name" 
									type="text"
									placeholder="middle name"
									spellcheck="false" 
									autocomplete="off" 
									maxlength="100"
									ng-init="model.register.middle_name=null"
									ng-model="model.register.middle_name"
									ng-clear-icon>
					</div>
				</div>

				<!-- Last name -->
				<div class="row mb-3">
					<label for="register-last_name" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<span class="text-capitalize">last</span>
						<span>name:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-last_name"
									class="form-control"
									name="last_name" 
									type="text"
									placeholder="last name"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="100"
									ng-init="model.register.last_name=null"
									ng-model="model.register.last_name"
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.last_name.$invalid}">
							&check;
						</span>
					</div>
				</div>

				<!-- Born -->
				<div class="row mb-3">
					<label for="register-born" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-calendar-days me-1"></i>
						<span class="text-capitalize">born:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-born"
									class="form-control"
									name="born" 
									type="date"
									placeholder="born"
									spellcheck="false" 
									autocomplete="off"
									max="{{helper.maxBorn}}"
									min="{{helper.minBorn}}" 
									required
									maxlength="300"
									ng-init="model.register.born=null"
									ng-model="model.register.born"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.born.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>Only people over 16 years old can be register!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Gender -->
				<fieldset class="row input-row mb-3">
					<legend class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-venus-mars me-1"></i>
						<span class="text-capitalize">
							gender:
						</span>
					</legend>
					<div class="col-11 col-md-6 position-relative d-flex align-items-center"
							ng-init="model.register.gender=null">
						<div class="form-check form-check-inline me-4"
								ng-repeat="x in ['female','male'] track by $index">
							<input id="register-{{x}}"
										name="gender" 
										type="radio"
										ng-value="x === 'female' ? 'F' : 'M'"
										class="form-check-input"
										ng-model="model.register.gender" 
										required>
								<label for="register-{{x}}" 
											class="form-check-label opacity-100">
									{{x}}
								</label>
						</div>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.gender.$invalid}">
							&check;
						</span>
					</div>
				</fieldset>

				<!-- Email -->
				<div class="row mb-3">
					<label for="register-email" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-envelope me-1"></i>
						<span class="text-capitalize">email:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-email"
									class="form-control"
									name="email" 
									type="text"
									placeholder="email"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="50"
									ng-init="model.register.email=null"
									ng-model="model.register.email"
									ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.email.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>The email address verification is required!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Email confirmation -->
				<div class="row mb-3">
					<label for="register-emailConfirm" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-regular fa-envelope me-1"></i>
						<span class="text-capitalize">confirm:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-emailConfirm"
									class="form-control"
									name="emailConfirm" 
									type="text"
									placeholder="email confirmation"
									spellcheck="false" 
									autocomplete="off" 
									required
									maxlength="50"
									ng-init="model.register.emailConfirm=null"
									ng-model="model.register.emailConfirm"
									ng-compare-model="model.register.email"
									ng-pattern="/^([a-z0-9_.+-])+\@(([a-z0-9-])+\.)+([a-z0-9]{2,4})+$/"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.emailConfirm.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>Please re-enter your email address for security!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Password -->
				<div class="row mb-3">
					<label for="register-password" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-key me-1"></i>
						<span class="text-capitalize">password:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-password"
									class="form-control"
									name="password" 
									type="{{model.register.showPassword ? 'text' : 'password'}}"
									placeholder="password"
									spellcheck="false" 
									autocomplete="off" 
									required
									minlength="6"
									maxlength="20"
									ng-init="model.register.password=null"
									ng-model="model.register.password"
									ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.password.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>6-20 characters&lt;/br>
																&lt;small>(contains uppercase, lowercase letters and numbers)&lt;/small>&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Password confirmation -->
				<div class="row mb-3">
					<label for="register-passwordConfirm" 
								class="col-form-label col-12 col-md-5 text-md-end">
						<i class="fa-solid fa-star fa-2xs text-danger"></i>
						<i class="fa-solid fa-unlock-keyhole me-1"></i>
						<span class="text-capitalize">confirm:</span>
					</label>
					<div class="col-11 col-md-6 position-relative">
						<input id="register-passwordConfirm"
									class="form-control"
									name="passwordConfirm" 
									type="{{model.register.showPassword ? 'text' : 'password'}}"
									placeholder="password confirmation"
									spellcheck="false" 
									autocomplete="off" 
									required
									minlength="6"
									maxlength="20"
									ng-init="model.register.passwordConfirm=null"
									ng-model="model.register.passwordConfirm"
									ng-compare-model="model.register.password"
									ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/"
									ng-disable-space
									ng-clear-icon>
					</div>
					<div class="col-1 d-flex align-items-center justify-content-start ps-1">
						<span class="fw-bolder text-success"
									ng-class="{'invisible': registerForm.passwordConfirm.$invalid}">
							&check;
						</span>
						<span data-bs-toggle="tooltip"
									data-bs-custom-class="custom-tooltip"
									data-bs-html="true"
									data-bs-title="&lt;p class='my-1'>Please re-enter your password for security!&lt;/p>">
							<i class="fa-solid fa-circle-info text-primary ms-2"></i>
						</span>
					</div>
				</div>

				<!-- Show/Hide password -->
				<div class="row mb-4">
					<div class="col-form-label d-none d-md-block col-md-5 text-md-end"></div>
					<div class="col-12 col-md-7">
						<input id="register-showPassword"
									class="form-check-input"
									type="checkbox"
									ng-init="model.register.showPassword=false"
									ng-model="model.register.showPassword">
						<label for="register-showPassword"
									class="form-check-label ms-1">
							Show password
						</label>
					</div>
				</div>

				<!-- Register button -->
				<div class="row justify-content-end">
					<button type="button"
									data-bs-toggle="modal" 
									data-bs-target="#modalRequest"
									class="btn btn-primary w-auto px-5 me-3 text-capitalize"
									ng-disabled="registerForm.$invalid"
									ng-click="methods.httpRequest()">
						registration
					</button>
				</div>
			</form>
		</div>
	</div>
</div>