<div class="container px-4 px-lg-5">

  <!------ Fej sor: Videó és Szolgáltatás bemutató ------------->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-12">
      <div class="card bg-dark text-white rounded-3 shadow-lg">
        <div class="card-body p-4">
          <div class="row align-items-center">

<!----------------Szolgáltatások videó----------------------->
            <div class="col-lg-6 text-center">
              <video autoplay muted loop playsinline 
                     class="img-fluid rounded-3 shadow">
                <source ng-src="{{videoUrl}}" 
                        type="video/mp4">
                    {{lang.data.services_video_alert}}
              </video>
            </div>

<!--------------Szolgáltatás csomag szűrők------------------->
            <div class="col-lg-6">
              <h1 class="fw-bold display-4 text-warning text-center">
                {{lang.data.our_services}}
              </h1>
              <p class="text-justify">
                {{lang.data.services_p1}}
              </p>

<!-----------------------Keresőmező-------------------------->
              <div class="mb-3">
                <label for="searchInput" 
                       class="form-label fw-bold text-warning">
                       {{lang.data.search}}
                  </label>
                <input type="text" 
                       id="searchInput" 
                       class="form-control" 
                       placeholder="{{lang.data.search}}" 
                       ng-model="searchText">
              </div>

<!----------------Ár kategória legördülő menü---------------->
              <div class="mb-4">
                <label for="priceSelect" 
                       class="form-label fw-bold text-warning">
                       {{lang.data.price_category}}
                </label>
                <select id="priceSelect" 
                        class="form-control" 
                        ng-model="selectedPriceCategory">
                  <option ng-repeat="category in priceCategories" 
                          ng-value="category.value">
                    {{category.label}}
                  </option>
                </select>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!---Figyelmeztető szöveg ha nincs a listában---------------->
<div ng-if="groupedServices.length === 0" 
     class="alert alert-warning text-center mt-3">
  {{lang.data.search_alert}}
</div>

<!------------Carousel: Szűrt szolgáltatások----------------->
  <div id="serviceCarousel" 
       class="carousel slide"
       data-bs-interval="false"
       ng-if="groupedServices.length > 0">
    <div class="carousel-inner">
      <div class="carousel-item" 
           ng-class="{ active: $index === 0 }" 
           ng-repeat="group in groupedServices track by $index">
        <div class="row">
          <div class="col-md-4" 
               ng-repeat="service in group">
            <div class="card bg-dark text-white mb-3 h-100">
              <div class="ratio ratio-4x3 rounded">
                <img ng-src="{{service.image}}" 
                     class="img-fluid object-fit-cover" 
                     alt="{{service.services_name}}">
              </div>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title text-warning">
                  {{lang.data[service.services_name]}}
                </h5>
                <p class="card-text">
                  {{lang.data[service.description]}}
                </p>
                 <!-- Ár szöveg fix távolságra a gombtól -->
                 <div class="fw-bold text-warning text-center mb-2" 
                      style="flex-grow: 1;">
                  {{service.price | currency:'' :0}} Ft
                </div>
                <button class="btn w-100 mt-auto"
                        ng-click="addPackage(service)"
                        ng-class="{'btn-primary': service.isSelected, 'btn-warning': !service.isSelected}">
                  {{ service.isSelected ? lang.data.appointment_button_selected : lang.data.appointment_button }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!---------------------Carousel gombok------------------->
    <button class="carousel-control-prev" 
            type="button" 
            data-bs-target="#serviceCarousel" 
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" 
            aria-hidden="true">
          </span>
      <span class="visually-hidden">
        Előző
      </span>
    </button>
    <button class="carousel-control-next" 
            type="button" 
            data-bs-target="#serviceCarousel" 
            data-bs-slide="next">
      <span class="carousel-control-next-icon" 
            aria-hidden="true">
          </span>
      <span class="visually-hidden">
        Következő
      </span>
    </button>
  </div>
</div>