<div class="container">
	<div class="row my-5 justify-content-center">
		<h3 class="text-center text-capitalize text-small-caps">
			<i class="fa-solid fa-users me-1 me-3"></i>
			<span>felhasználók</span>
		</h3>
	</div>
	<div class="row justify-content-center">
		<table class="table table-bordered table-striped w-auto 
									border border-secondary border-5"
					 data-bs-theme="light">
			<thead class="table-dark fs-5 sticky-top"
						 style="top:59px !important;">
				<tr>
					<th class="text-capitalize" 
							ng-repeat="(k, v) in header track by $index">
						{{v}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="data.length" ng-repeat="row in data track by $index">
					<td class="text-nowrap"
							ng-repeat="(k, v) in header track by $index"
							ng-switch="k">
						<span ng-switch-when="id" class="float-end">{{row[k]}}</span>
						<span ng-switch-when="name">
							<span>{{row.last_name}}</span>
							<span>{{row.first_name}}</span>
							<span>{{row.middle_name}}</span>
						</span>
						<span ng-switch-when="phone">
							<span>{{row.country_code}}</span>
							<span>{{row.phone}}</span>
						</span>
						<span ng-switch-default>{{row[k]}}</span>	
					</td>
				</tr>
				<tr ng-if="!data.length">
					<td class="text-center"
							colspan="{{headerLength}}">
						üres
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>